<title><%= @title %> - Random City Times</title>

<h1><a href="/">RANDOM CITY TIMES</a></h1><br>
<h2><%= @title %></h2><br>
<h4 class = "date"><%= @date %></h4> <h4><%= @author_name %></h4><br>

<p><%= @formatted_text %></p>

<br><br>Locations: <b><%= @location_name %></b><br><br>

  <iframe
    width="450"
    height="337.5"
    frameborder="15"
    src="<%= @search_query %>">
  </iframe>