<h3><%= @title %></h3>
<h4><%= @author_name %></h4>

<h5><b><%= @html_formatted_date %></b></h5>

<%= @formatted_text %>

<br><br><br>Locations: <b><%= @location_name %></b><br><br>

  <iframe
    width="450"
    height="337.5"
    frameborder="0" style="border:0"
    src="<%= @search_query %>">
  </iframe>