<h3>Please review your draft:</h3>

<form action = "/new_article">
  
  Author: <select name="author" size="1">
       <option value="nil">---</option>
       <% @author_values_array.each do |hash| %>
         <% if hash["id"]==@author %>
         <option value="<%= hash["id"] %>" selected="selected"><%= hash["name"]%></option>
         <% else %>
         <option value="<%= hash["id"] %>"><%= hash["name"]%></option>
         <% end%>
       <% end %>
  </select><br><br>
     
   Title:<br><input type = "text" name ="title" value ="<%= @title %>"><br><br>
   
<!-- CONSIDER FINDING *ANOTHER* API FOR A TEXT EDITOR? -->
   Text:<br><textarea name= "article_text" rows="40" cols ="150" spellcheck="true"><%= @text %> </textarea><br><br>
   
   Location tags:
   
   Choose an existing location: <select name="existing_location_tag" size="1">
       <option value="nil">---</option>
       <% @location_values_array.each do |hash| %>
       <% if hash["id"]==@location_tag %>
       <option value="<%= hash["id"] %>" selected="selected"><%= hash["location_name"]%> <i><%= hash["business_name"]%>, <%= hash["street"].byteslice(0..13)%></i></option>
       <% end %>
       <option value="<%= hash["id"] %>"><%= hash["location_name"]%> <i><%= hash["business_name"]%>, <%= hash["street"].byteslice(0..13)%></i></option>
       <% end %>
   
   Create new location:<br><br>
   Location name (nickname, for search purposes):<input type ="text" name ="location_name" value ="<%= @location_name %>"><br>
   Business name: <input type ="text" name ="business_name" value ="<%= @business_name %>"><br>
   Street address: <input type ="text" name ="street" value ="<%= @street %>"><br>
   City<sup><b>*</b></sup>: <input type ="text" name ="city" value ="<%= @city %>"><br>
   State<sup><b>*</b></sup>: <input type ="text" name ="state" value ="<%= @state %>"><br>
   Country: <input type ="text" name ="country" value ="<%= @country %>"><br><br>
   <br><b><sup>*</sup>required field</b>
   
   
<!-- OTHER OPTION: value="<%= %x{date} %>" -->
     <input type ="hidden" name ="date" value="<%= DateTime.now %>">
     <input type="submit">
</form>