<title>Submit - Random City Times</title>

<h1><a href="/">RANDOM CITY TIMES</a></h1><br>
<h3>Submit a draft article:</h3>

<!--RIGHT NOW THIS FORM CANNOT HANDLE SPECIAL CHARACTERS LIKE APOSTROPHES -->

<form action = "/submit/review">
  
  Author: <select name="author" size="1">
       <option value="nil">---</option>
       <% @author_objects_array.each do |object| %>
       <option value="<%= object.id %>"><%= object.name %></option>
       <% end %>
  </select><br><br>
     
  Title:<br><input type = "text" name ="title"><br><br>
   
<!-- CONSIDER FINDING *ANOTHER* API FOR A TEXT EDITOR? -->
   Text:<br><textarea name= "article_text" rows="40" cols ="100" spellcheck="true"></textarea><br><br>
   
   <h3>Location tags:</h3>
   
   Choose an existing location: <select name="existing_location_tag" size="1">
       <option value="nil">---</option>
       <% @location_objects_array.each do |object| %>
       <option value="<%= object.id %>"><%= object.location_name %> <i><%= object.street.byteslice(0..15)%></i></option>
       <% end %>
  </select><br><br>
   
   
   <b>OR</b> Create new location:<br><br>
   Location name (business name or nickname, for search purposes)<sup><b>*</b></sup>:<input type ="text" name ="location_name"><br>
   Street address: <input type ="text" name ="street"><br>
   City<sup><b>*</b></sup>: <input type ="text" name ="city"><br>
   State<sup><b>*</b></sup>: <input type ="text" name ="state"><br>
   Country: <input type ="text" name ="country"><br><br>
   <br><b><sup>*</sup>required field</b>

    <input type ="submit">
   
</form>