<h3>Submit a draft article:</h3>

<!--RIGHT NOW THIS FORM CANNOT HANDLE SPECIAL CHARACTERS LIKE APOSTROPHES -->

<form action = "/review_draft">
  
  Author: <select name="author" size="1">
       <option value="nil">---</option>
       <% @author_values_array.each do |hash| %>
       <option value="<%= hash["id"] %>"><%= hash["name"]%></option>
       <% end %>
  </select><br><br>
     
  Title:<br><input type = "text" name ="title"><br><br>
   
<!-- CONSIDER FINDING *ANOTHER* API FOR A TEXT EDITOR? -->
   Text:<br><textarea name= "article_text" rows="40" cols ="150" spellcheck="true"></textarea><br><br>
   
   Location tags:
   
   Choose an existing location: <select name="existing_location_tag" size="1">
       <option value="nil">---</option>
       <% @location_values_array.each do |hash| %>
       <option value="<%= hash["id"] %>"><%= hash["location_name"]%> <i><%= hash["business_name"]%>, <%= hash["street"].byteslice(0..13)%></i></option>
       <% end %>
  </select><br><br>
   
   
   Create new location:<br><br>
   Location name (nickname, for search purposes):<input type ="text" name ="location_name"><br>
   Business name: <input type ="text" name ="business_name"><br>
   Street address: <input type ="text" name ="street"><br>
   City<sup><b>*</b></sup>: <input type ="text" name ="city"><br>
   State<sup><b>*</b></sup>: <input type ="text" name ="state"><br>
   Country: <input type ="text" name ="country"><br><br>
   <br><b><sup>*</sup>required field</b>

    <input type ="submit">
   
</form>